.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.table-task-container {
  display: flex;
  margin-top: 3px;
  justify-content: space-between;
  padding: 0 45px 0 45px;
}

::ng-deep {
  app-table,
  app-task {
    width: 50%;
  }
}