.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.table-task-container {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

::ng-deep {
  app-table,
  app-task {
    width: 50%;
  }
}