<div class="task-container">
  <form class="task-form-container">
    <mat-form-field class="example-full-width">
      <mat-label></mat-label>
      <input matInput placeholder="UML Class Diagram" [(ngModel)]="inputValue" name="inputValue">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label></mat-label>
      <textarea matInput placeholder="The service needs doucmentation on the class..." [(ngModel)]="areaValue" (blur)="onBlur()" name="textarea"></textarea>
    </mat-form-field>

    <!-- <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->
  </form>
</div>